<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Bold.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hava durumu bilgilerini gösterebilmek için konumunuza ihtiyacımız var.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hava durumu bilgilerini gösterebilmek için konumunuza ihtiyacımız var.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Araç fotoğraflarını yükleyebilmek için fotoğraf galerinize erişim gerekli.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Araç fotoğraflarını kaydedebilmek için fotoğraf galerinize erişim gerekli.</string>
	<key>NSCameraUsageDescription</key>
	<string>Araç fotoğrafı çekebilmek için kameraya erişim gerekli.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
